<div class="row">

  <div *ngIf="!isFetchingPostDone; else showPost">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <ng-template #showPost class="container-fluid">
<!--    <div [innerHTML]="getSanitizedName()"></div>-->
    <div class="card mb-3 container-fluid">
      <div class="card-body">
        <h1 class="card-title" style="font-weight: 800">{{post.title}}</h1>
        <h5 class="card-text mb-2">
          <span *ngFor="let tag of post.tags" class="badge badge-{{tag}} mr-2"><span class="tag-prefix">#</span>{{tag}}</span>
        </h5>
        <p class="card-text mb-4"><small class="text-muted">{{post.timestamp}}</small></p>
        <p class="card-text" [innerHTML]="getSanitizedPostContent()"></p>
      </div>
    </div>

    <button class="btn btn-primary mr-auto" (click)="onEditPost()">Edit post</button>
    <button class="btn btn-danger" (click)="onDeletePost()">Delete post</button>

  </ng-template>

</div>
