<div class="row">
  <div class="card container-fluid">
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <div class="card-text mb-2">
          <label for="username">Username</label>
          <div class="form-group">
            <input pInputText [style]="{width: '100%'}" id="username" formControlName="username" type="text" autocomplete="off" />
          </div>
        </div>

        <div class="card-text mb-2">
          <label for="password">Password</label>
          <div class="form-group">
            <input pInputText [style]="{width: '100%'}" id="password" formControlName="password" type="password" autocomplete="off" />
          </div>
        </div>

        <button class="btn btn-primary d-flex mx-auto" type="submit">Log in</button>
      </form>
    </div>
  </div>
</div>
